<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- FOOTER -->
	<footer th:fragment="footer">
		<div class="footer__top section">
			<div class="container">
				<div class="footer__grid row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
						<h3>About Us</h3>
						<p>We are an eyewear store that offers a wide selection of
							fashionable and functional glasses from top brands. Our friendly
							staff are always ready to assist you in finding the perfect pair
							of glasses to match your style and budget. Come visit us and see
							the world in a new light!</p>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
						<h3>Latest News</h3>
						<div class="footer__link">
							<i class="fa fa-long-arrow-alt-right"></i> <a href="#">Services</a>
						</div>
						<div class="footer__link">
							<i class="fa fa-long-arrow-alt-right"></i> <a href="#">Glasses</a>
						</div>
						<div class="footer__link">
							<i class="fa fa-long-arrow-alt-right"></i> <a href="#">Sunglasses</a>
						</div>
						<div class="footer__link">
							<i class="fa fa-long-arrow-alt-right"></i> <a href="#">Accessories</a>
						</div>
						<div class="footer__link">
							<i class="fa fa-long-arrow-alt-right"></i> <a href="#">Products</a>
						</div>
						<div class="footer__link">
							<i class="fa fa-long-arrow-alt-right"></i> <a href="#">Gift
								Card</a>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
						<h3>Contact Info</h3>
						<div class="footer__contact">
							<i class="fa fa-map-marker-alt"></i> <a href="#">112 Cao
								Thắng, Quận 3 – HCM</a>
						</div>
						<div class="footer__contact">
							<i class="far fa-envelope"></i> <a
								href="mailto:ndat04913@gmail.com">ndat04913@gmail.com</a>
						</div>
						<div class="footer__contact">
							<i class="fas fa-phone-alt"></i> <a href="tel:0966894644">096.689.4644</a>
						</div>
					</div>
				</div>

				<div class="footer__form">
					<form>
						<div class="form-group form-row">
							<label
								class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-form-label"
								for="emailFooter">Sign up for our Newsletter</label>
							<div class="col-8 col-sm-8 col-md-8 col-lg-6 col-xl-6">
								<input type="email" class="form-control" id="emailFooter"
									placeholder="Enter Email Address ...">
							</div>
							<div
								class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
								<button type="submit" class="btn">SUBMIT</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div>
				© 2024 Instruction. All rights reserved | Design by <a href="#">Nhóm
					10</a>
			</div>
		</div>
	</footer>
</body>
</html>